.main-weather-container,
.single-weather-container {
  width: 100%;
  padding: 16px;
  display: flex;
}

.main-weather-container {
  flex-direction: row;
  align-items: center;
  font-size: 4vw;
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    .title {
      font-weight: 300;
      font-size: 2vw;
      width: 90%;
      text-align: center;
      margin-left: auto;
    }
    .temperature {
      font-size: 8vw;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-top: -5%;
    }
  }
}

.single-weather-container {
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  height: 80%;
  font-size: 3vw;
  .title {
    font-weight: 300;
    font-size: 1.5vw;
    width: 90%;
    text-align: center;
    margin-left: auto;
  }
  .temperature {
    font-size: 4vw;
    text-align: center;
    width: 80%;
    margin-left: auto;
  }
  .weather {
    width: 100%;
    height: 50%;
    background-position-x: 15%;
    align-self: flex-end;
  }
}

.weather {
  display: block;
  text-indent: -9999px;
  width: 45%;
  height: 100%;
}
