<div class="header-container">
  <div class="logo"></div>
  <div class="header-title">
    <span>{{city}} <span class="divider">|</span></span><span class="state"> {{state}}</span>
  </div>
  <div class="watcher">
    <div class="date">
      <span>Wednesday, January 18th, 2017</span>
    </div>
    <div class="inner-watcher">
      <div class="content">
        <span class="time">16:00</span>
        <span class="zone">BRT (UTC-3 Hours)</span>
      </div>
      <span class="icon-watch"></span>
    </div>    
  </div>
</div>
