.feed-container {
  bottom: 0;
  color: #fafafa;
  display: flex;
  position: fixed;
  height: 30%;
  width: 100%;
  font-size: 6vw;
  overflow: hidden;
  .bg {
    position: absolute;
    width: 115%;
    height: 140%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: -3% -3% -2% -12%;
    background-size: 100% auto;
    background-image: url('/assets/background/background_weather-campinas.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    .inner-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #fafafa;
      opacity: 0.3;
    }
  }
  &>div {
    z-index: 9999;
    border-right: 2px rgba(35%, 35%, 35%, 0.2) solid;
  }
  & .main-weather-container,
  .single-weather-container {
    padding: 16px;
    display: flex;
  }
  .main-weather-container {
    flex-direction: row;
    align-items: center;
    width: 33.3%;
    font-size: 4vw;
    .title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55%;
      .title {
        font-weight: 300;
        font-size: 2vw;
        width: 90%;
        text-align: center;
        margin-left: auto;
      }
      .temperature {
        font-size: 8vw;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-top: -5%;
      }
    }
  }
  .single-weather-container {
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
    width: calc(33.3% / 3);
    height: 80%;
    font-size: 3vw;
    .title {
      font-weight: 300;
      font-size: 1.5vw;
      width: 90%;
      text-align: center;
      margin-left: auto;
    }
    .temperature {
      font-size: 4vw;
      text-align: center;
      width: 80%;
      margin-left: auto;
    }
    .weather {
      width: 100%;
      height: 50%;
      background-position-x: 15%;
      align-self: flex-end;
    }
  }
  .weather {
    display: block;
    text-indent: -9999px;
    width: 45%;
    height: 100%;
    &.stormy-icon {
      background: url('../../assets/weather/0.png') no-repeat center/80%;
    }
    &.cloudy-icon {
      background: url('../../assets/weather/19.png') no-repeat center/80%;
    }
    &.partly-cloudy-icon {
      background: url('../../assets/weather/28.png') no-repeat center/80%;
    }
    &.clear-icon {
      background: url('../../assets/weather/32.png') no-repeat center/80%;
    }
    &.partly-clear-icon {
      background: url('../../assets/weather/34.png') no-repeat center/80%;
    }
    &.sun-raining-icon {
      background: url('../../assets/weather/37.png') no-repeat center/80%;
    }
    &.windy-icon {
      background: url('../../assets/weather/23.png') no-repeat center/80%;
    }
  }
}
