.feed-container {
  bottom: 0;
  color: #fafafa;
  display: flex;
  position: fixed;
  height: 30%;
  width: 100%;
  font-size: 6vw;
  overflow: hidden;
  z-index: -1;
  .bg {
    position: absolute;
    width: 115%;
    height: 140%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: -3% -3% -2% -12%;
    background-size: 100% auto;
    background-image: url('/assets/background/background_weather-campinas.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    .inner-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #fafafa;
      opacity: 0.3;
    }
  }
  app-weather-list {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
