<div class="feed-container">
  <div class="bg">
    <div class="inner-bg"></div>
  </div>
  <div class="main-weather-container">
    <div class="title-container">
      <span class="title">Wednesday</span>
      <span class="temperature">28º</span>
    </div>
    <span class="weather partly-clear-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Thursday</span>
    <span class="temperature">26º</span>
    <span class="weather cloudy-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Friday</span>
    <span class="temperature">20º</span>
    <span class="weather sun-raining-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Saturday</span>
    <span class="temperature">21º</span>
    <span class="weather stormy-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Sunday</span>
    <span class="temperature">18º</span>
    <span class="weather windy-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Monday</span>
    <span class="temperature">23º</span>
    <span class="weather clear-icon"></span>
  </div>
  <div class="single-weather-container">
    <span class="title">Tuesday</span>
    <span class="temperature">28º</span>
    <span class="weather partly-cloudy-icon"></span>
  </div>
</div>
